.calendarContainer {
  position: relative;
  width: 100%;
  /* min-height: calc(100vh - 60px); */
  background-color: #2e201b;
  padding: 20px;
}

.syncButton {
  font-size: 0.75rem;
  padding: 4px 8px;
  background-color: #c75d3a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.syncButton:hover {
  background-color: #7BA696;
}

.board {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}
